<div class="shadow-background user-select-none overflow-y-auto" [style.display]="isOpen ? 'block' : 'none'">
  <div class="loading" *ngIf="isWaitingForApi">Loading&#8230;</div>

  <div class="modal-container flex-row-reverse" *ngIf="!isWaitingForApi">
    <div class="d-flex flex-column justify-content-start infoDiv">
      <div class="w-100 p-2 pe-4 d-flex flex-row justify-content-between">
        <div class="d-flex flex-row justify-content-between gap-2 hover-pointer" (click)="navigateToUser(this.publication.idAuthor)">
          <div class="circle">
            <img src="{{this.publication.urlImage}}" class="profileImage" *ngIf="!isWaitingForApi">
          </div>
          <span class="txt-gold ps-3 pt-1 fs-4">{{this.publication.nameAuthor}}</span>
        </div>

        <button class="x-close-btn txt-gold fs-4" (click)="close()">X</button>
      </div>

      <div style="border-top: 1px solid #deb992; margin-left: 15px; margin-right: 15px"></div>

      <div class="w-100 p-4">
        <div class="txt-turquoise fs-6"> {{this.publication.content}} </div>
      </div>

      <div style="border-top: 1px solid #deb992; margin-left: 15px; margin-right: 15px"></div>

      <div class="d-flex flex-column justify-content-between flex-grow-1 w-100">
        <div class="py-3 px-4 d-flex flex-column w-100 gap-3 overflow-y-auto" style="min-height: 300px; max-height: 50vh;">
          <div *ngFor="let comment of publication.comments" class="w-100 gap-2 d-flex flex-column">
            <div class="d-flex flex-row justify-content-between">
              <div class="circle hover-pointer" (click)="navigateToUser(comment.idAuthor)">
                <img src="{{comment.imageUrl}}" class="profileImage">
              </div>
              <div class="w-100 d-flex flex-column gap-3">
                <div class="ps-3 gap-1 d-flex flex-column justify-content-start w-100">
                  <div class="d-flex flex-row justify-content-between w-100">
                    <div class="hover-pointer" (click)="navigateToUser(comment.idAuthor)">
                      <span class="txt-gold fs-6">{{comment.nameAuthor}}</span>
                    </div>
                    <button class="x-close-btn txt-gold fs-6" (click)="deleteComment(comment.id)"
                    *ngIf="comment.idAuthor == connectedUserStatus.userId">X</button>
                  </div>
                  <div>
                    <span class="text-secondary fs-6">{{comment.content}}</span>
                  </div>
                </div>
                <div style="border-top: 1px solid floralwhite; margin-right: 10px;"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column">
          <div style="border-top: 1px solid #deb992; margin-left: 15px; margin-right: 15px"></div>

          <div class="py-2 px-4 d-flex flex-row gap-2">
            <div class="col text-center txt-gold rounded hover-darker" (click)="toggleLiked()" i18n>
              <i class="fa-solid fa-heart"
                 [ngClass]="{'text-danger': this.publication.hasConnectedLiked}"></i> Like{{this.publication.hasConnectedLiked?"d":""}} ( {{this.publication.likeCount}} )
            </div>
            <div class="col text-center txt-gold rounded hover-darker"  (click)="focusInput()" i18n>
              <i class="fa-solid fa-comments"></i> Comment ( {{this.publication.commentCount}} )
            </div>
          </div>

          <div style="border-top: 1px solid #deb992; margin-left: 15px; margin-right: 15px"></div>

          <form class="py-2 px-3 d-flex flex-row gap-2" (submit)="sendComment()">
            <input type="text" #commentInput class="form-control-sm w-100" i18n i18n-placeholder placeholder="Add a comment">
            <button type="submit" class="btn btn-sm btn-outline-success" i18n>Send</button>
          </form>
        </div>

      </div>
    </div>

    <div class="d-flex flex-column justify-content-center">
      <div class="custom-carousel" style="min-width: 300px; max-width: 500px; height: 600px">
        <img [src]="this.publication.elements[activeImageIndex].imageUrl" *ngIf="publication.elements.length > 0" class="carousel-image">
        <div class="delete-pub-btn d-flex justify-content-center align-items-center hover-darker"
             (click)="deletePublication()" *ngIf="connectedUserStatus.userId == publication.idAuthor || connectedUserStatus.userRole > 1">
          <i class="fa-solid fa-trash"></i>
        </div>

        <div class="carousel-arrow carousel-arrow-left d-flex justify-content-center align-items-center hover-darker"
             (click)="prevImage()" *ngIf="activeImageIndex > 0">
          <i class="fa-solid fa-chevron-left txt-turquoise"></i>
        </div>
        <div class="carousel-arrow carousel-arrow-right d-flex justify-content-center align-items-center hover-darker"
             (click)="nextImage()" *ngIf="activeImageIndex < this.publication.elements.length - 1">
          <i class="fa-solid fa-chevron-right txt-turquoise"></i>
        </div>
      </div>
    </div>
  </div>
</div>


