<section class="p-3 pt-4 user-select-none d-flex flex-column w-100">
  <div class="loading" *ngIf="isWaitingForApi">Loading&#8230;</div>

  <div *ngIf="!isWaitingForApi && userId != '-1' else errorPage">
    <div *ngIf="isFriendPublic || isConnectedUser else privatePage" class="gap-5 d-flex flex-column">
      <div class="mb-2">
        <div class="input-group searchBarBorder">
          <span class="input-group-text searchBar" [ngClass]="{'d-none': isInputFocused}">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input type="text" class="form-control searchBar" id="searchInput" placeholder="Search" i18n-placeholder
                 (focusin)="isInputFocused = true" (focusout)="isInputFocused = false"  [(ngModel)]="searchBarValue">
          <span class="input-group-text searchBar" [ngClass]="{'d-none': !isInputFocused}" (mousedown)="searchBarValue = '';">
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div>
      </div>

      <div *ngIf="userFriends.length == 0" class="w-100 h-100 justify-content-center d-flex flex-column">
        <span class="fs-6 txt-gold text-center" i18n>This user does not seem to have friends.</span>
      </div>

      <div class="profilesGrid">
        <div class="profileDiv" *ngFor="let user of filterFriends(userFriends, searchBarValue)">
          <div class="profilePictureDiv profileLarge" (click)="viewFriendProfile(user.id)">
            <img src="{{user.imageUrl}}" class=" hover-pointer">
          </div>

          <div class="profileDataDiv">
            <div class="profilePictureDiv profileSmall" (click)="viewFriendProfile(user.id)">
              <img src="{{user.imageUrl}}" class=" hover-pointer">
            </div>

            <div class="profileDataDiv2">
              <div class="profileNameDiv hover-pointer"  (click)="viewFriendProfile(user.id)">
                <span>{{user.name}}</span>
              </div>

              <div class="profileOtherDiv">
                <div class="profileFriendsDiv">
                  <span class="fst-italic fs-7" *ngIf="user.commonFriendCount > 0" i18n> {{user.commonFriendCount}} friend{{user.commonFriendCount != 1 ? 's': ''}} in common</span>
                </div>

                <div class="profileAddDiv profileLarge" *ngIf="user.commonFriendCount != -1">
                  <button *ngIf="user.isFriendWithConnected == 2" class="btn btn-outline-danger w-100" (click)="emitRemoveFriend(user.id)" i18n>
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                  <button *ngIf="user.isFriendWithConnected == -1" class="btn btn-outline-success w-100" (click)="emitAddFriend(user.id)" i18n>
                    <i class="fa-solid fa-plus"></i>
                  </button>
                  <button *ngIf="user.isFriendWithConnected == 1" class="btn btn-outline-info w-100" (click)="emitPendingFriend(user.id)" i18n>
                    <i class="fa-solid fa-clock"></i>
                  </button>
                  <button *ngIf="user.isFriendWithConnected == 0" class="btn btn-outline-light w-100" (click)="emitCancelFriend(user.id)" i18n>
                    <i class="fa-solid fa-slash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="profileAddDiv profileSmall" *ngIf="user.commonFriendCount != -1">
            <button *ngIf="user.isFriendWithConnected == 2" class="btn btn-outline-danger w-100" (click)="emitRemoveFriend(user.id)" i18n>
              <i class="fa-solid fa-xmark"></i> Delete Friend
            </button>
            <button *ngIf="user.isFriendWithConnected == -1" class="btn btn-outline-success w-100" (click)="emitAddFriend(user.id)" i18n>
              <i class="fa-solid fa-plus"></i> Add Friend
            </button>
            <button *ngIf="user.isFriendWithConnected == 1" class="btn btn-outline-info w-100" (click)="emitPendingFriend(user.id)" i18n>
              <i class="fa-solid fa-clock"></i> Pending Request
            </button>
            <button *ngIf="user.isFriendWithConnected == 0" class="btn btn-outline-light w-100" (click)="emitCancelFriend(user.id)" i18n>
              <i class="fa-solid fa-slash"></i> Cancel Request
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #privatePage>
      <div class="w-100 h-100 justify-content-center d-flex flex-column" *ngIf="!isWaitingForApi">
        <span class="fs-4 txt-gold text-center" i18n>This account is private.</span>
        <span class="fs-6 txt-gold text-center" i18n>Become friends to see this account's friends.</span>
      </div>
    </ng-template>
  </div>
  <ng-template #errorPage>
    <div class="w-100 h-100 justify-content-center d-flex flex-column" *ngIf="!isWaitingForApi">
      <span class="fs-2 txt-gold text-center" i18n>This page is unfortunately not available.</span>
      <span class="fs-4 txt-gold text-center" i18n>The link you followed may be broken, or the page has been deleted.</span>
      <a class="fs-4 txt-turquoise text-center" routerLink="../newsfeed" i18n>Return to mood</a>
    </div>
  </ng-template>
</section>
