<section class="p-5 user-select-none" *ngIf="publications.length > 0">
  <div class="publication-grid">
    <div class="publication" *ngFor="let publication of publications" (click)="getDetailedPublication(publication.id)">
      <div class="content-div">
        <div *ngIf="publication.elements.length == 0; else elseBlock" class="h-100 w-100">
          <div class="pub_txt">
            {{publication.content}}
          </div>
        </div>
        <ng-template #elseBlock>
          <img src="assets/Logo.png" alt="img_{{publication.elements[0].id}}" class="pub_img"/>
        </ng-template>
      </div>
      <div class="stat-div flex-row justify-content-center">
        <div class="text-center w-30 text-white" style="padding-top: 50%">
          <i class="fa-solid fa-heart"></i> {{publication.likeCount}}
        </div>
        <div class="text-center w-30 text-white" style="padding-top: 50%">
          <i class="fa-solid fa-comments"></i> {{publication.commentCount}}
        </div>
      </div>
    </div>
  </div>
</section>

