.circle {
  position: relative;
  width: 210px;
  padding-top: 210px;

  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 210px;
  height: 210px;
  object-fit: cover;
}
