<section class="pt-3 d-flex flex-row hvh-93 justify-content-between blur-effect user-select-none overflow-y-auto">
  <div class="loading" *ngIf="isWaitingForApi">Loading&#8230;</div>

  <div  *ngIf="(!isWaitingForApi && userId != '-1') else errorPage"
        class="mb-3 p-2 w-100 d-flex flex-column justify-content-between txt-gold start-50 translate-middle-x position-absolute">
    <div class="main-profile">
      <div class="p-3 profileLarge">
        <div class="circle">
          <img src="{{profileData.imageUrl}}" class="profileImage">
        </div>
      </div>

      <div class="informationDiv">
        <div class="p-3 profileSmall">
          <div class="circle">
            <img src="{{profileData.imageUrl}}" class="profileImage">
          </div>
        </div>

        <div class="userDiv">
          <div class="nameDiv">
            <span class="fs-3">{{profileData.name}}</span>
            <span class="fs-7 profileLarge">({{profileData.login}})</span>
          </div>
          <div class="dataDiv">
            <div class="justify-content-start d-flex w-100 gap-2">
              <span class="" i18n>Publications : </span>
              <span class="">{{profileData.publicationCount}}</span>
            </div>
            <div class="justify-content-start d-flex w-100 gap-2">
              <span class="" i18n>Friends : </span>
              <span class="">{{profileData.friendCount}}</span>
            </div>
          </div>
          <div class="profileLarge" style="height: 25px"></div>
          <div class="descDiv">
            <span class="fst-italic">{{profileData.description}}</span>
          </div>
        </div>

        <div class="actionDiv actionDivLarge">
          <button *ngIf="isConnectedUser" class="btn btn-sm btn-outline-info w-50" (click)="updateProfilePicture(userId)" i18n>
            <i class="fa-solid fa-gear"></i> Change Profile Picture
          </button>
          <modal-pp-picker id="modal-update-pp"></modal-pp-picker>
          <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 2" class="btn btn-sm btn-outline-danger w-50" (click)="emitRemoveFriend(userId)" i18n>
            <i class="fa-solid fa-xmark"></i> Delete Friend
          </button>
          <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == -1" class="btn btn-sm btn-outline-success w-50" (click)="emitAddFriend(userId)" i18n>
            <i class="fa-solid fa-plus"></i> Add Friend
          </button>
          <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 1" class="btn btn-sm btn-outline-info w-50" (click)="emitIgnoreFriend(userId)" i18n>
            <i class="fa-solid fa-clock"></i> Ignore Friend Request
          </button>
          <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 1" class="btn btn-sm btn-outline-info w-50" (click)="emitAcceptFriend(userId)" i18n>
            <i class="fa-solid fa-clock"></i> Accept Friend Request
          </button>
          <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 0" class="btn btn-sm btn-outline-light w-50" (click)="emitCancelFriend(userId)" i18n>
            <i class="fa-solid fa-slash"></i> Cancel Friend Request
          </button>
        </div>
      </div>

      <div class="actionDiv actionDivSmall">
        <button *ngIf="isConnectedUser" class="btn btn-sm btn-outline-info w-100" (click)="updateProfilePicture(userId)" i18n>
          <i class="fa-solid fa-gear"></i> Change Profile Picture
        </button>
        <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 2" class="btn btn-sm btn-outline-danger w-50" (click)="emitRemoveFriend(userId)" i18n>
          <i class="fa-solid fa-xmark"></i> Delete Friend
        </button>
        <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == -1" class="btn btn-sm btn-outline-success w-50" (click)="emitAddFriend(userId)" i18n>
          <i class="fa-solid fa-plus"></i> Add Friend
        </button>
        <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 1" class="btn btn-sm btn-outline-info w-50" (click)="emitIgnoreFriend(userId)" i18n>
          <i class="fa-solid fa-clock"></i> Ignore Friend Request
        </button>
        <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 1" class="btn btn-sm btn-outline-info w-50" (click)="emitAcceptFriend(userId)" i18n>
          <i class="fa-solid fa-clock"></i> Accept Friend Request
        </button>
        <button *ngIf="!isConnectedUser && profileData.isFriendWithConnected == 0" class="btn btn-sm btn-outline-light w-50" (click)="emitCancelFriend(userId)" i18n>
          <i class="fa-solid fa-slash"></i> Cancel Friend Request
        </button>
      </div>
    </div>

    <div class="border-top-gold d-flex flex-column h-66">
      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center w-80 flex-row">
          <div class="d-flex py-2 hover-pointer justify-content-center w-50 hover-darker" routerLink="./shared" routerLinkActive="active">
            <span i18n>Publications</span>
          </div>
          <div class="d-flex py-2 hover-pointer justify-content-center w-50 hover-darker" routerLink="./friends" routerLinkActive="active">
            <span i18n>Friends</span>
          </div>
          <div *ngIf="isConnectedUser" class="d-flex py-2 hover-pointer justify-content-center w-50 hover-darker" routerLink="./account" routerLinkActive="active">
            <span i18n>Account</span>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <ng-template #errorPage>
    <div class="w-100 h-100 justify-content-center d-flex flex-column" *ngIf="!isWaitingForApi">
      <span class="fs-2 txt-gold text-center" i18n>This page is unfortunately not available.</span>
      <span class="fs-4 txt-gold text-center" i18n>The link you followed may be broken, or the page has been deleted.</span>
      <a class="fs-4 txt-turquoise text-center" routerLink="../newsfeed" i18n>Return to mood</a>
    </div>
  </ng-template>

</section>

