<header></header>
<!--Toute la page-->
<section class=" d-flex flex-row hvh-93 justify-content-between blur-effect">
<!--Les groupes-->
  <div class="w-50 h-100 border-black" >
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 100% ;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"></svg>
        <span class="fs-4">Conversations</span>
      </a>
      <hr>
      <div>
        <button class="btn position-relative bottom-0 end-0 ">Create a Group</button>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let grp of groupes;" (click)="getMessageFromGroup(grp.id); " class="nav-item hover-pointer">
          <a class="raised-button" aria-current="page">
            {{grp.name}}
          </a>
        </li>
      </ul>
      <hr>
    </div>
<body>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-2">User</div>
    <div class="col-4"><input type="text" id="userInput" #userInput/></div>
  </div>
  <div class="row">
    <div class="col-2">Message</div>
    <div class="col-4"><input type="text" id="messageInput" #messageInput /></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-6">
      <button #sendButton type="button" id="sendButton" name="sendButton" value="Send Message" (click)="sendMessage(userInput.value, messageInput.value)">Send Message</button>
    </div>
  </div>
  <div class="w-100 h-100 border txt-gold">
    <p>Page de communication</p>

  </div>
</section>


<footer>

</footer>
