<!--Toute la page-->
<section class=" d-flex flex-row hvh-93 justify-content-between blur-effect">
  <div>
    <app-group-list></app-group-list>
  </div>
  <div class="w-100 h-100 border txt-gold">
    <div class="" style=" padding: 1%;height: 100%">
      <div id="conversation" class="scrowl">
        <div *ngIf="userFromGroup.length > 0;" class="d-flex flex-row justify-content-between groupName">
          <p>{{groupIndex ==-1 ? '': groupes[groupIndex].name}}</p>
          <button  (click)="wtf.style.display == 'flex'?wtf.style.display = 'none': wtf.style.display = 'flex';" class="btn">Member</button>
        </div>
        <div #scroll class="chat-container" [scrollTop]="scroll.scrollHeight">
          <div *ngIf="messages.length >= showCount" class="w-100">
            <button class="btn showMoreBtn w-100" (click)="loadMoreMessage()" i18n>
              <span class="">Show More ({{messages.length}}) </span>
              <i class="fa-solid fa-chevron-up"></i>
            </button>
          </div>
          <div  *ngFor="let msg of messages" class="d-flex flex-column" >
            <div class="d-flex" style="justify-content: center">
              <p class="date">{{formatDate(msg.date)}}</p>
            </div>
            <div class="d-flex"  [ngClass]="msg.userId == userId? 'd-none':'flex-row'">{{msg.userName}}</div>
            <div class="d-flex align-items-center" [ngClass]="msg.userId == userId? 'flex-row-reverse':'flex-row'">
              <img class="profile-picture" alt="" src="{{msg.url}}" width="50" height="50" >
              <div class="message-bubble" [ngClass]="msg.userId == userId? 'right':'left'">
                <p>{{msg.content}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="border-gold bottom-0 end-0" style="width: 100%">
          <div id="sender" style="display: flex; flex-wrap: nowrap;padding-top: 1%;" >
            <input #message class="position-relative container-fluid" type="text" style="width: 100%;" placeholder="Message" value="">
            <button class="btn position-relative bottom-0 end-0 " (click)="sendMessage(message.value)">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #wtf class="overlay">
    <div class="popup-content d-flex gap-2 flex-column">
      <div class="friendList">
        <h5>group's member</h5>
        <li #friend class="nav-item button-2 btnColor" style="width: 90%" *ngFor="let frd of userFromGroup;">
          <div class="d-flex flex-row">
            <img class="profile-picture d-flex" alt="" src="{{frd.imageUrl}}" width="50" height="50" >
            <p>{{frd.name}}</p>
          </div>
        </li>
      </div>
    <button (click)="wtf.style.display ='none';" class="button-2" >ok</button>
    </div>
  </div>
</section>
