<section class="pt-3 d-flex flex-row hvh-93 justify-content-between blur-effect">
  <div class="hvh-7 w-60 d-flex flex-column justify-content-between txt-gold start-50 translate-middle-x position-absolute">
    <div class="form-group mb-2 w-100">
      <div class="input-group searchBarBorder w-100">
        <span class="input-group-text searchBar"
              [ngClass]="{'d-none': isInputFocused}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input type="text" class="form-control searchBar" id="searchInput" placeholder="Search..." i18n-placeholder
               (focus)="onInputFocus()" (blur)="onInputBlur()">
      </div>
    </div>
    <div class="">
      <p class="txt-gold">Filtres</p>
    </div>
    <div>
      <p class="txt-gold">Liste des recherches</p>
    </div>
  </div>
</section>


<footer>

</footer>
