<section class="d-flex flex-column gap-5 p-5 justify-content-between">
  <div class="profilesGrid">
    <div class="profileDiv" *ngFor="let user of filterUsers(otherUsers, searchBarValue)">
      <div class="profileImageDiv">
        <div class="profilePictureDiv" (click)="viewUserProfile(user.id)">
          <img src="assets/Logo.png" class="rounded-circle img-cover hover-pointer">
        </div>
      </div>
      <div class="profileDataDiv">
        <div class="profileNameDiv hover-pointer"  (click)="viewUserProfile(user.id)">
          <span class="fs-5">{{user.name}}</span>
        </div>
        <div class="profileOtherDiv">
          <div class="profileFriendsDiv">
            <span class="fst-italic fs-7" *ngIf="user.commonFriendCount !=0" i18n> {{user.commonFriendCount}} friend{{user.commonFriendCount != 1 ? 's': ''}} in common</span>
          </div>
          <div class="profileAddDiv">
            <button *ngIf="user.isFriendWithConnected" class="btn btn-outline-danger w-100" (click)="emitRemoveFriend(user.id)" i18n>
              <i class="fa-solid fa-xmark"></i>
            </button>
            <button *ngIf="!user.isFriendWithConnected" class="btn btn-outline-success w-100" (click)="emitAddFriend(user.id)" i18n>
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="otherUsers.length % 10 == 0" class="w-100">
    <button class="btn showMoreBtn w-100" i18n>
      <span class="">Show More ({{otherUsers.length}}) </span>
      <i class="fa-solid fa-chevron-down"></i>
    </button>
  </div>

</section>
