<section class="d-flex flex-column gap-5 p-5 justify-content-between user-select-none h-100">
  <div class="loading" *ngIf="isWaitingForApi">Loading&#8230;</div>

  <div *ngIf="!isWaitingForApi" class="h-100">
    <div class="h-100 d-flex flex-column gap-5 justify-content-between" *ngIf="otherUsers.length > 0 else errorPage">
      <div class="profilesGrid">
        <div class="profileDiv" *ngFor="let user of filterUsers(otherUsers, searchBarValue)">
          <div class="profilePictureDiv profileLarge" (click)="viewUserProfile(user.userId)">
            <img src="{{user.imageUrl}}" class=" hover-pointer">
          </div>

          <div class="profileDataDiv">
            <div class="profilePictureDiv profileSmall" (click)="viewUserProfile(user.userId)">
              <img src="{{user.imageUrl}}" class=" hover-pointer">
            </div>

            <div class="profileDataDiv2">
              <div class="profileNameDiv hover-pointer"  (click)="viewUserProfile(user.userId)">
                <span>{{user.userName}}</span>
              </div>

              <div class="profileOtherDiv">
                <div class="profileFriendsDiv">
                  <span class="fst-italic fs-7" *ngIf="user.commonFriendCount > 0" i18n> {{user.commonFriendCount}} friend{{user.commonFriendCount != 1 ? 's': ''}} in common</span>
                </div>

                <div class="profileAddDiv profileLarge" *ngIf="user.commonFriendCount != -1">
                  <button *ngIf="user.isFriendWithConnected == 2" class="btn btn-outline-danger w-100" (click)="emitRemoveFriend(user.userId)" i18n>
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                  <button *ngIf="user.isFriendWithConnected == -1" class="btn btn-outline-success w-100" (click)="emitAddFriend(user.userId)" i18n>
                    <i class="fa-solid fa-plus"></i>
                  </button>
                  <button *ngIf="user.isFriendWithConnected == 1" class="btn btn-outline-info w-100" (click)="viewUserProfile(user.userId)" i18n>
                    <i class="fa-solid fa-clock"></i>
                  </button>
                  <button *ngIf="user.isFriendWithConnected == 0" class="btn btn-outline-light w-100" (click)="emitCancelFriend(user.userId)" i18n>
                    <i class="fa-solid fa-slash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="profileAddDiv profileSmall" *ngIf="user.commonFriendCount != -1">
            <button *ngIf="user.isFriendWithConnected == 2" class="btn btn-outline-danger w-100" (click)="emitRemoveFriend(user.userId)" i18n>
              <i class="fa-solid fa-xmark"></i> Delete Friend
            </button>
            <button *ngIf="user.isFriendWithConnected == -1" class="btn btn-outline-success w-100" (click)="emitAddFriend(user.userId)" i18n>
              <i class="fa-solid fa-plus"></i> Add Friend
            </button>
            <button *ngIf="user.isFriendWithConnected == 1" class="btn btn-outline-info w-100" (click)="viewUserProfile(user.userId)" i18n>
              <i class="fa-solid fa-clock"></i> Pending Request
            </button>
            <button *ngIf="user.isFriendWithConnected == 0" class="btn btn-outline-light w-100" (click)="emitCancelFriend(user.userId)" i18n>
              <i class="fa-solid fa-slash"></i> Cancel Request
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="otherUsers.length >= showCount" class="w-100">
        <button class="btn showMoreBtn w-100" (click)="loadModeUsers()" i18n>
          <span class="">Show More ({{otherUsers.length}}) </span>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <ng-template #errorPage>
      <div class="w-100 h-100 justify-content-center d-flex flex-column">
        <span class="fs-6 txt-gold text-center" i18n>There is no user corresponding to your request. Please try something else.</span>
      </div>
    </ng-template>
  </div>
</section>
