<header class="hvh-7"></header>
<section class="d-flex flex-row hvh-93 justify-content-between"
         style="border: #1BA098 solid;">
  <div class="w-20 h-100 border border-danger txt-gold">
    <p>Profiles avec nouveau content que l'on suit ?</p>
  </div>

  <div class="w-60 h-100 border border-primary txt-gold">
    <p> Differentes publication ???</p>

  </div>

  <div class="w-20 h-100 border border-danger txt-gold">
    <p>Rien ici ?</p>
  </div>


</section>


<footer>

</footer>







