.listFriend{
  overflow-y: auto;
  height: 80%;
  width: 100%;
  resize: none;
}
.profile-picture {
  object-fit:scale-down;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}
.btnColorToggled{
  background-color: rgb(37, 150, 190);
}

.btnColor{
  color: #1BA098;
  background-color: rgba(51, 51, 51, 0.05);
}
.btnColor:hover{
  color: #deb992;
  background-color: rgb(37, 150, 190);
}
