<div class="shadow-background user-select-none" [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title txt-gold fs-4" i18n>Create a new Publication</h5>
      <button class="x-close-btn txt-gold" (click)="close()">X</button>
    </div>
    <div class="d-flex flex-column flex-grow-1 flex-shrink-1 gap-3">
      <div class="d-flex flex-column gap-4">
        <div class="d-flex flex-column">
          <span class="txt-gold fs-5" i18n>Images Preview</span>
          <div id="postCreationCarousel" class="h-100 d-flex flex-column justify-content-between position-relative" data-ride="carousel" style="height: 600px">
            <div *ngIf="previewUrls.length > 0" class="d-flex " style="height: 300px">
              <div  *ngFor="let element of previewUrls; let i = index" class="carousel-item {{i == 0 ? 'active' : ''}}">
                <img src="{{element}}" class="pubImage">
                <button class="x-close-btn text-warning" (click)="removeImage(i)">X</button>
              </div>
            </div>
            <div *ngIf="previewUrls.length > 1">
              <a class="carousel-control-prev" (click)="prev()" role="button">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" (click)="next()" role="button">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column">
          <span class="txt-gold fs-5" i18n>Select Images</span>
          <input class="form-control txt-gold" type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                 *ngIf="previewUrls.length < 4">
          <span class="text-secondary fs-6" *ngIf="previewUrls.length >= 4" i18n>Maximum 4 Images per post are allowed</span>
        </div>

        <div class="d-flex flex-column">
          <span class="txt-gold fs-5" i18n>Description</span>
          <input type="text" #desc class="form-control" placeholder="Optional" i18n-placeholder i18n>
        </div>
      </div>

      <div class="p-2 px-3">
        <div class="gap-2 d-flex flex-row justify-content-end">
          <button type="button" class="btn btn-outline-secondary" (click)="close(); desc.value = '';" i18n>Cancel</button>
          <button type="button" class="btn btn-outline-success" *ngIf="previewUrls.length > 0" (click)="postPublication(desc)" i18n>Publish</button>
        </div>
      </div>
    </div>
  </div>
</div>
