<div class="shadow-background user-select-none " [style.display]="isOpen ? 'flex' : 'none'">
    <div class="overlay d-flex justify-content-center align-items-center">
        <div  class="popup-content d-flex gap-2 align-items-center flex-column">
          <input #div style="text-align: center;" class="d-flex" [disabled]="this.group.proprioId != this.userId || this.group.isPrivate" value="{{this.group.name}}"/>
          <button *ngIf="this.group.proprioId == this.userId || this.group.isPrivate" (click)="modifyGroupsName(div.value)" class="button-2 button-0" i18n>Modify Name</button>
          <div class="friendList d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center w-100">
              <li class=" border-gold nav-item button-0 button-1 d-flex flex-column" style="width: 90%; background-color: transparent; color: #deb992" *ngFor="let member of userFromGroup;">
                <div class="d-flex flex-row w-100">
                  <div style="width: 60px">
                    <img class="profile-picture d-flex" alt="" src="{{member.imageUrl}}" width="50" height="50" >
                  </div>
                  <div class="d-flex flex-column w-100" style="overflow: hidden;">
                    <div  class="d-flex w-100" style="max-width: 400px">
                      <i *ngIf="this.group.proprioId == member.id" class="fa-solid fa-star" style="color: yellowgreen"></i>
                      <p style="overflow: hidden; text-overflow: ellipsis;">{{member.name}}</p>
                    </div>
                    <div class="d-flex gap-2 w-100 justify-content-end" style="max-width: 100%">
                      <button *ngIf="this.group.proprioId == this.userId && this.group.proprioId != member.id" (click)="kickThisMember(member)" class="button-1 button-0" i18n>Kick From Group</button>
                      <button class="button-1 button-0" (click)="goToProfile(member)"><i class="fa-solid fa-info"></i></button>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          </div>
          <div class="w-100 d-flex flex-row justify-content-between flex-fill">
            <button (click)="close()" class="button-2 button-0" style="width: 100px" >ok</button>
            <button style="width: 100px" *ngIf="!this.group.isPrivate" (click)="addMember()" class="button-0 button-2" i18n>Add Members</button>
            <button style="width: 100px" *ngIf="!this.group.isPrivate" (click)="quitsGroup();" class="button-2 button-0" i18n>Quit Group</button>
          </div>
        </div>
    </div>
</div>


