<!-- Section: Design Block-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<section class="text-center text-lg-start">
<!--   Jumbotron-->
  <div class="container">
    <div class="p-4 row g-2 align-items-center window-height position-relative">
<!--  FORM -->
      <div class="col-lg-6 mb-lg-0">
        <div class="card blurred-back">
          <div class="card-body p-5 shadow-5 text-center txt-gold">
            <h2 class="fw-bold mb-5" i18n>Sign in</h2>
            <form [formGroup]="loginForm"  (submit)="submitForm($event)">

              <div class="form-outline mb-4">
                <input type="text" class="form-control" formControlName="Login" id="Login"
                       [ngClass]="{'input-error': controlLogin.invalid && controlLogin.dirty && controlLogin.touched}"/>
                <label class="form-label" for="Login" i18n>Email or Login</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" class="form-control" formControlName="Password" id="Password"
                       [ngClass]="{'input-error': controlPassword.invalid && controlPassword.dirty && controlPassword.touched}"/>
                <label class="form-label" for="Password" i18n>Password</label>
              </div>

              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2 btn-gold shadow-none" type="checkbox" value="" id="StayLoggedIn" formControlName="StayLoggedIn"/>
                <label class="form-check-label" for="StayLoggedIn" i18n>Stay connected</label>
              </div>

              <button type="submit" class="btn btn-block mb-4 btn-gold" [disabled]="loginForm.invalid" i18n> Sign In </button>

              <div class="text-center">
                <p i18n>or sign in with:</p>
                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-github"></i>
                </button>
              </div>
              <br>
              <div>
                <p i18n>New to Mood? <a routerLink="../register" routerLinkActive="active">Sign up now</a>.</p>
              </div>
            </form>
          </div>
        </div>
      </div>

<!--  LOGO -->
      <div class="col-lg-6 mb-lg-0">
        <img src="./assets/mood.png" class="w-100 rounded-5 shadow-5 ml-auto"
             alt="" />
      </div>

    </div>
  </div>
<!--   Jumbotron-->
</section>
<!-- Section: Design Block-->
