<div class="shadow-background user-select-none" [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title txt-gold fs-4" i18n>Change the application language</h5>
      <button class="x-close-btn txt-gold" (click)="close()">X</button>
    </div>
    <div class="d-flex flex-column gap-3 py-5 px-4">
      <div class="p-2 px-3 d-flex flex-column">
        <div>
          <span class="text-white fs-5" i18n> Select a Language</span>
        </div>
        <div>
          <select #selectElement class="form-select" (change)="changeLanguage(selectElement.selectedOptions.item(0))">
            <option value="" [disabled]="selectElement.selectedIndex == 0"></option>
            <option value="en" i18n>English</option>
            <option value="fr" i18n>French</option>
          </select>
        </div>
      </div>
      <div class="p-2 px-3">
        <div class="gap-2 d-flex flex-row justify-content-end">
          <button type="button" class="btn btn-outline-secondary" (click)="close()" i18n>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


