* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Create two columns/boxes that floats next to each other */
nav {
  background: rgba(255,	255, 255, 0.3);
  backdrop-filter: blur(30px);
  float: left;
  width: 20%;
  height: 100%; /* only for demonstration, should be removed */
  padding: 20px;
  border-right: 1px solid #deb992 ;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

section {
  height: 100vh;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.custom-text {
  color: #deb992;
}
.custom-btn{
  background-color: #deb992;
  color : white;
  box-shadow: none;
}
