/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/back.jpg');
  height: 100vh;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;

  min-width: 320px;
}

.txt-gold {
  color: #deb992;
}

.txt-turquoise {
  color: #1BA098;
}

.border-gold {
  border: #deb992 solid 1px;
}

.border-top-gold {
  border-top: #deb992 solid 1px;
}

.btn-gold{
  background-color: #deb992;
  color : white;
  box-shadow: none;
}

.window-height {
  height: 100vh;
}

.blur-effect {
  backdrop-filter: blur(30px);
}

.blurred-back {
  background: hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(30px);
}

.input-error {
  border-color: red;
  color: red;
  ::placeholder {
    color: red;
    opacity: 1;
  } opacity: 1;
}

.hover-pointer {
  cursor: pointer;
}

.hover-darker {
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.hover-darker:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.selected-darker {
  background-color: hsla(0, 0%, 100%, 0.15);
  border-bottom: #1BA098 solid;
  cursor: default;
}
