/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/back.jpg');
  height: 100vh;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.txt-gold {
  color: #deb992;
}

.txt-turquoise {
  color: #1BA098;
}

.border-gold {
  border: #deb992 solid 1px;
}
.border-top-gold {
  border-top: #deb992 solid 1px;
}

.btn-gold{
  background-color: #deb992;
  color : white;
  box-shadow: none;
}

.window-height {
  height: 100vh;
}

.blur-effect {
  backdrop-filter: blur(30px); /* Ajustez la valeur selon votre préférence */
}

.blurred-back {
  background: hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(30px);
}

.input-error {
  border-color: red;
  color: red;
  ::placeholder {
    color: red;
    opacity: 1;
  } opacity: 1;
}

.hvh-10 {
  height: 10vh !important;
}

.hvh-7 {
  height: 7vh !important;
}

.hvh-90 {
  height: 90vh !important;
}

.hvh-93 {
  height: 93vh !important;
}

.h-5 {
  height: 5% !important;
}
.h-34 {
  height: 34% !important;
}
.h-66 {
  height: 66% !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}
.w-40 {
  width: 40% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-80 {
  width: 80% !important;
}
.top-7 {
  top:7% !important;
}
.hover-pointer {
  cursor: pointer;
}

.hover-darker {
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.hover-darker:hover {
  background-color: hsla(0, 0%, 100%, 0.15);

}

.selected-darker {
  background-color: hsla(0, 0%, 100%, 0.15);
  border-bottom: #1BA098 solid;
  cursor: default;
}

.hover-darker-2 {
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.hover-darker-2:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}

