/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/back.jpg');

  height: 100vh;
}

.txt-gold {
  color: #deb992;
}

.txt-turquoise {
  color: #1BA098;
}

.btn-gold{
  background-color: #deb992;
  color : white;
  box-shadow: none;
}

.window-height {
  height: 100vh;
}

.blurred-back {
  background: hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(30px);
}

.input-error {
  border-color: red;
  color: red;
  ::placeholder {
    color: red;
    opacity: 1;
  } opacity: 1;
}

.w-10 {
  width: 10% !important;
}

.w-80 {
  width: 80% !important;
}
