<div id="conversation" class="d-flex flex-column flex-fill w-100 h-100">
  <div class="border-gold d-flex flex-row groupNames align-items-center justify-content-between " style="height: 40px; padding: 10px">
    <div class="">{{group.name}}</div>
    <button *ngIf="group.name!= '';" (click)="displayPopupMember()"  class="button-0 button-2 end-100"><i class="fa-solid fa-info end-0"></i></button>
  </div>
  <div #scroll class="chat-container flex-shrink-0 flex-grow-1 border-gold " [scrollTop]="scroll.scrollHeight">
    <div *ngIf="messages.length >= showCount" class="w-100">
      <button class="btn showMoreBtn w-100" (click)="loadMoreMessage(30)" i18n>
        <span class="">Show More</span>
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>
    <div  *ngFor="let msg of messages" class="d-flex flex-column" >
      <div class="d-flex" style="justify-content: center">
        <p class="date">{{formatDate(msg.date)}}</p>
      </div>
      <div class="d-flex"  [ngClass]="msg.userId == userId? 'd-none':'flex-row'">{{msg.userName}}</div>
      <div (click)="messageManagement.style.display = 'flex'" class="d-flex align-items-center" [ngClass]="msg.userId == userId? 'flex-row-reverse':'flex-row'">
        <img class="profile-picture" alt="" src="{{msg.url}}" width="50" height="50" >
        <div class="message-bubble" [ngClass]="msg.userId == userId? 'right':'left'">
          <p *ngIf="!msg.isDeleted" class="just-line-break">{{msg.content}}</p>
          <p *ngIf="msg.isDeleted" class="just-line-break"> &lt;&lt; Deleted Message &gt;&gt; </p>
        </div>
        <div #messageManagement  style="display: none" >
          <button (click)="deleteMessage(msg)" *ngIf="msg.userId == userId"><i class="fa-solid fa-circle-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="group.name != ''" class="d-flex" style="width: 100%;">
    <textarea #message class="" style="width: 100%;" placeholder="Message..."></textarea>
    <input type="submit" class="button-0 button-2 position-relative bottom-0 end-0 " (click)="message.value== ''? '' :sendMessage(message)" value="Send"/>
  </div>
</div>
