<!-- Section: Design Block-->

<section class="text-center text-lg-start">
  <!--   Jumbotron-->
  <div class="container">
    <div class="p-4 row g-4 align-items-center window-height position-relative">
      <!--  FORM -->
      <div class="col-lg-6 mb-lg-0">
        <div class="card blurred-back">
          <div class="card-body p-5 shadow-5 text-center txt-gold">
            <h2 class="fw-bold mb-5 user-select-none" i18n>Sign up</h2>
            <form [formGroup]="registerForm"  (submit)="submitForm()">
              <div class="form-outline mb-4 border border-danger rounded-2 p-1 user-select-none" *ngIf="showError">
                <span class="text-danger" i18n >Email or Username already used</span>
              </div>

              <div class="row">
                <!--NAME-->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="Name" id="Name" class="form-control" placeholder="*Required"
                           [ngClass]="{'input-error': controlName.invalid && controlName.dirty && controlName.touched}" i18n/>
                    <label class="form-label user-select-none" for="Name" i18n>Full Name</label>
                  </div>
                </div>
                <!--MAIL-->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="Mail" id="Mail" class="form-control" placeholder="*Required"
                           [ngClass]="{'input-error': controlMail.invalid && controlMail.dirty && controlMail.touched}" i18n/>
                    <label class="form-label user-select-none" for="Mail" i18n>Email Address</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <!--Username-->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="Login" id="Login" class="form-control" placeholder="*Required"
                           [ngClass]="{'input-error': controlLogin.invalid && controlLogin.dirty && controlLogin.touched}" i18n/>
                    <label class="form-label user-select-none" for="Login" i18n>Username</label>
                  </div>
                </div>
                <!--Birthdate-->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="date" formControlName="Birthdate" id="Birthdate" class="form-control" placeholder="*Required"
                           [ngClass]="{'input-error': controlBirthdate.invalid && controlBirthdate.dirty && controlBirthdate.touched}" i18n/>
                    <label class="form-label user-select-none" for="Birthdate" i18n>Birthdate</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <!--Password-->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="password" formControlName="Password" id="Password" class="form-control" placeholder="*Required"
                           [ngClass]="{'input-error': controlPassword.invalid && controlPassword.dirty && controlPassword.touched}" i18n/>
                    <label class="form-label user-select-none" for="Password" i18n>Password</label>
                  </div>
                </div>
                <!--Password Confirmation-->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="password" formControlName="PasswordConfirmation" id="PasswordConfirmation" class="form-control" placeholder="*Required"
                           [ngClass]="{'input-error': controlPasswordConfirmation.dirty && controlPasswordConfirmation.touched
                           && (controlPasswordConfirmation.invalid || controlPassword.value != controlPasswordConfirmation.value)}" i18n/>
                    <label class="form-label user-select-none" for="PasswordConfirmation" i18n>Password Confirmation</label>
                  </div>
                </div>
              </div>

              <div *ngIf="controlPassword.dirty || controlPassword.touched"
                   [ngClass]="{'border-success': controlPassword.valid, 'border-danger': !controlPassword.valid, 'd-none': controlPassword.valid}"
                   class="form-outline mb-4 border  rounded-2 p-1 user-select-none text-start ps-2">
                <span [ngClass]="{'text-success': checkPassword(controlPassword.value, 0), 'text-danger': !checkPassword(controlPassword.value, 0)}" i18n>
                  <i class="fa-solid" [ngClass]="{'fa-check': checkPassword(controlPassword.value, 0), 'fa-xmark': !checkPassword(controlPassword.value, 0)}"></i>
                  Password must contain at least 8 characters
                </span><br>
                <span [ngClass]="{'text-success': checkPassword(controlPassword.value, 1), 'text-danger': !checkPassword(controlPassword.value, 1)}" i18n>
                  <i class="fa-solid" [ngClass]="{'fa-check': checkPassword(controlPassword.value, 1), 'fa-xmark': !checkPassword(controlPassword.value, 1)}"></i>
                  Password must contain at least one number
                </span><br>
                <span [ngClass]="{'text-success': checkPassword(controlPassword.value, 2), 'text-danger': !checkPassword(controlPassword.value, 2)}" i18n>
                  <i class="fa-solid" [ngClass]="{'fa-check': checkPassword(controlPassword.value, 2), 'fa-xmark': !checkPassword(controlPassword.value, 2)}"></i>
                  Password must contain at least one capital letter
                </span><br>
                <span [ngClass]="{'text-success': checkPassword(controlPassword.value, 3), 'text-danger': !checkPassword(controlPassword.value, 3)}" i18n>
                  <i class="fa-solid" [ngClass]="{'fa-check': checkPassword(controlPassword.value, 3), 'fa-xmark': !checkPassword(controlPassword.value, 3)}"></i>
                  Password must contain at least one lowercase letter
                </span><br>
                <span [ngClass]="{'text-success': checkPassword(controlPassword.value, 4), 'text-danger': !checkPassword(controlPassword.value, 4)}" i18n>
                  <i class="fa-solid" [ngClass]="{'fa-check': checkPassword(controlPassword.value, 4), 'fa-xmark': !checkPassword(controlPassword.value, 4)}"></i>
                  Password must contain at least one special character
                </span><br>
              </div>

              <button type="submit" class="btn btn-block mb-4 btn-gold user-select-none" [disabled]="registerForm.invalid" i18n>Sign Up</button>

              <!--<div class="text-center user-select-none">
                <p i18n>or sign up with:</p>
                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-floating mx-1 btn-gold">
                  <i class="fab fa-github"></i>
                </button>
              </div>-->
              <br class="user-select-none">
              <div>
                <p class="user-select-none" i18n>Already have an account? <a routerLink="../login" routerLinkActive="active">Sign in here</a>.</p>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--  LOGO -->
      <div class="col-lg-6 mb-lg-0 user-select-none">
        <img src="./assets/mood.png" class="w-100 rounded-5 shadow-5 ml-auto"
             alt="" />
      </div>

    </div>
  </div>
  <!--   Jumbotron-->
</section>
<!-- Section: Design Block-->
