<section class="p-5 user-select-none d-flex flex-column gap-4">
  <div class="loading" *ngIf="isWaitingForApi">Loading&#8230;</div>

  <div *ngIf="!isWaitingForApi && userId != '-1' else errorPage">
    <div class="ms-2 d-flex flex-column gap-2" [formGroup]="commonInfoForm">
      <span class="w-100 fs-5 fw-bold text-center" i18n>Common Information</span>
      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Full Name</span>
        <input class="form-control w-50" type="text" formControlName="Name" [value]="accountData.name">
      </div>
      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Email Address</span>
        <input class="form-control w-50" type="email" formControlName="Mail" [value]="accountData.mail">
      </div>

      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Birthdate</span>
        <input class="form-control w-50" type="date" formControlName="BirthDate" [value]="accountData.birthDate">
      </div>
      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Title</span>
        <input class="form-control w-50" type="text" formControlName="Title" [value]="accountData.title">
      </div>
      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Description</span>
        <textarea class="form-control w-50" formControlName="Description" [value]="accountData.description"></textarea>
      </div>

      <div class="p-1 d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-outline-danger user-select-none"
                [ngClass]="{'d-none': !isPublicDataEditing}" (click)="cancelCommonEdit()" [disabled]="!isPublicDataEditing" i18n>Cancel</button>
        <button type="submit" class="btn btn-outline-success user-select-none"
                [ngClass]="{'d-none': !isPublicDataEditing}" (click)="commitCommonEdit()"
                [disabled]="!isPublicDataEditing || commonInfoForm.invalid || commonInfoForm.pristine" i18n>Validate Changes</button>
        <button type="submit" class="btn btn-gold user-select-none"
                [ngClass]="{'d-none': isPublicDataEditing}" (click)="editCommonEdit()" [disabled]="isPublicDataEditing" i18n>Edit Account</button>
      </div>
    </div>

    <div class="ms-2 d-flex flex-column gap-2">
      <span class="w-100 fs-5 fw-bold text-center" i18n>Private Information</span>
      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Login</span>
        <input class="form-control w-50" type="text" [value]="accountData.login" disabled>
      </div>
      <div class="p-1 d-flex justify-content-between">
        <span class="form-label" i18n>Phone Number</span>
        <input class="form-control w-50" type="tel" [value]="accountData.phoneNumber" disabled>
      </div>

      <div class="p-1 d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-gold user-select-none"
                routerLink="/home/parameters" i18n>Visit Parameters to change this information</button>
      </div>
    </div>
  </div>
  <ng-template #errorPage>
    <div class="w-100 h-100 justify-content-center d-flex flex-column" *ngIf="!isWaitingForApi">
      <span class="fs-2 txt-gold text-center" i18n>This page is unfortunately not available.</span>
      <span class="fs-4 txt-gold text-center" i18n>The link you followed may be broken, or the page has been deleted.</span>
      <a class="fs-4 txt-turquoise text-center" routerLink="../newsfeed" i18n>Return to mood</a>
    </div>
  </ng-template>
</section>
